# ESP-IDF 
CONFIG_IDF_CMAKE=y
CONFIG_IDF_TARGET_ARCH_XTENSA=y
CONFIG_IDF_TARGET="esp32c6"
CONFIG_IDF_FIRMWARE_CHIP_ID=0x0009
CONFIG_ESPTOOLPY_FLASHSIZE_4MB

# PARTITION
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000

#OTA
CONFIG_ESP_HTTPS_OTA_ALLOW_HTTP=y
CONFIG_APP_PROJECT_VER_FROM_CONFIG=y
CONFIG_APP_PROJECT_VER="1.0.3"